@media only screen and (max-width: 1200px) {
  .right_panel .d_bg img {
    width: 30% !important;
  }
  header .col-xl-4 .navbar {
    width: auto !important;
  }
  header .col-xl-4 .ml-5 {
    margin: 0px !important;
  }
  header .col-xl-4 .navbar-toggler {
    position: relative !important;
    top: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .content .left_panel {
    left: -228px;
  }
  .content .right_panel {
    width: 100%;
  }
  .off_can .left_panel {
    left: 0px;
  }
  .off_can .right_panel {
    width: calc(100% - 228px);
  }
}

@media only screen and (max-width: 567px) {
  .content .left_panel {
    top: 0px !important;
  }
  .content .right_panel {
    top: 0px !important;
  }
  header .col-xl-6 ul {
    display: table !important;
    width: auto !important;
    margin: 0px auto !important;
    float: none !important;
  }
  header .col-xl-6 ul + a {
    position: absolute !important;
    left: 89%;
    top: -40px;
  }
  header .col-xl-4 .fixed-top {
    position: inherit !important;
  }
  header .col-xl-4 .pe-5 {
    display: table !important;
    width: auto !important;
    margin: 0px auto !important;
    float: none !important;
    padding: 0px !important;
  }
}
